# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
chat-platform-provider-api/chat-platform-provider-admin-api/target/generated-sources/
chat-platform-provider/chat-platform-admin-provider/target/classes/com/chat/provider/ChatPlatformAdminApplication$TestController.class
chat-platform-provider/chat-platform-admin-provider/target/generated-sources/
chat-platform-provider/chat-platform-admin-provider/target/maven-status/
chat-platform-provider-api/chat-platform-provider-admin-api/target/chat-platform-provider-admin-api-0.0.1-SNAPSHOT.jar
chat-platform-provider-api/chat-platform-provider-admin-api/target/chat-platform-provider-admin-api-0.0.1-SNAPSHOT.jar.original
chat-platform-provider-api/chat-platform-provider-admin-api/target/classes/bootstrap.yml
chat-platform-provider-api/chat-platform-provider-admin-api/target/maven-archiver/
chat-platform-provider-api/chat-platform-provider-admin-api/target/maven-status/
